*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ebf8;
}
.wappers{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrappers-top{
    width: 100%;
    background-color: rgb(103, 58, 183);
    padding: 12px 24px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.top-title{
    font-size: 18px;
    color: #fff;
}
.wrappers-button{
    background-color: #fff;
    border: 1px solid #dadce0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
}
.Title{
    line-height: 24px;
    color: #202124;
    font-weight: 400;
}
.form{
    margin: 30px 0px;
    display: flex;
    flex: 100%;
    gap: 20px;
}
#inputes{
    flex: 70%;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    outline: none;
    border-bottom: 1px solid #c5c5c5;
    font-size: 18px;
}
#inputes:focus{
    border: none;
    outline: none;
    color: #202124;
    border-bottom: 1px solid #c5c5c5;
}
#btn{
    flex: 30%;
    padding: 10px 20px;
    border: 1px solid rgb(103, 58, 183);
    background-color: #f0ebf8;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transform: scale(1.1);
}
#demo{
    font-size: 18px;
    letter-spacing: 2px;
}